{% extends "base.html" %}


{% block title %}calculer votre bac 2020{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
<form action='#' method='POST'>
    <div class="conteneur">
        <!-- choix spécialité -->
        <div class = "spe">
            <h2>Quelle est votre spécialité?</h2>
            <div class='choix'>
                <input type="radio" name="spe" value="S" required>
                <label>SVT</label>
                <input type="radio" name="spe" value="P" required>
                <label>Physique</label>
                <input type="radio" name="spe" value="M" required>
                <label>Math</label>
            </div>
            <!-- choix oib -->
            <input type="checkbox" name="oib">
            <label>Ètes-vous OIB?</label>
        </div>
        <!-- épreuves anticipé -->
        <div class="anticipe">
            <h2> Notes aux épreuves anticipées : </h2>
            <div class="block_petit">
                <div class="block_element"><p>Note en écrit de Français :</p></div>
                <div class="block_element"><input type='text' name='FR_ecrit' placeholder="écrit fr" size="5" maxlength="5" required pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
            <div class="block_petit">
                <div class="block_element"><p>Note en oral de Français :</p></div>
                <div class="block_element"><input type='text' name='FR_oral' placeholder="oral fr" size="5" maxlength="5" required pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
            <div class="block_petit">
                <div class="block_element"><p>Note au TPE :</p></div>
                <div class="block_element"><input type='text' name='TPE' placeholder="TPE" size="5" maxlength="5" required pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
        </div>
        <!-- résultats du premier trimestre de l'année de terminale -->
        <div class='premier'>
            <h2>Vos moyennes du premier trimestre :</h2>

            {% for i in ["sport", "philo", "phch", "svt", "math", "lv1", "hg", "lv2", "spe"] %}
            <div class="block_petit">
                <div class="block_element"><p>Moyenne en {{i}} au premier trimestre:</p></div>
                <div class="block_element"><input type='text' name='{{i}}1' placeholder="{{i}}" size="5" maxlength="5" required pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
            {% endfor %}

            <div class="block_petit">
                <div class="block_element"><p>Moyenne en option/lv3 au premier trimestre: (optionnel)</p></div>
                <div class="block_element"><input type='text' name='option1' placeholder="option/lv3" size="5" maxlength="5" pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
        </div>
        <!-- résultats du deuxieme trimestre de l'année de terminale -->
        <div class='deuxieme'>
            <h2>Vos moyennes du deuxieme trimestre :</h2>

            {% for i in ["sport", "philo", "phch", "svt", "math", "lv1", "hg", "lv2", "spe"] %}
            <div class="block_petit2">
                <div class="block_element"><p>Moyenne en {{i}} au deuxieme trimetre:</p></div>
                <div class="block_element"><input type='text' name='{{i}}2' placeholder="{{i}}" size="5" maxlength="5" required pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
            {% endfor %}

            <div class="block_petit">
                <div class="block_element"><p>Moyenne en option/lv3 au deuxieme trimestre: (optionnel)</p></div>
                <div class="block_element"><input type='text' name='option2' placeholder="option/lv3" size="5" maxlength="5" pattern="[0-9.]{1,}" title='Caractère numérique et point uniquement ex : 12.58'/></div>
            </div>
        </div>
        <!-- bouton envoyer -->
        <div class="block_element"><input class="submit" type ='submit' value='envoyer' /></div>
    </div>
</form>
{% endblock %}
